div{
	border: solid 1px black;
}

.greeting{
	width: 100%;
}

.player1Box, .player2Box, .messageRow {
	width: 100%;
	height: 200px;
}

.chatBox{
	height: 200px;
}

.chatInput{
	width: 500px;
}

.chatBtn{
	width: 100px;
	height: 20px;
}